@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: all 0.6s ease-in-out;
}

html.dark {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

/* Styles pour la Sidebar */
.sidebar {
    width: 250px;
    background-color: #1a202c;
    color: white;
    height: 100vh;
    padding: 1rem;
    position: fixed;
}